/* App.css */

body {
    font-family: Arial, sans-serif;
    background-image: url(https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  h1 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f34e4e;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px 0;
  }
  